@import 'src/modules/_vars';

.dialog-container{
    min-height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .dialog-content {
        display: flex;
        flex-direction: column;
        gap: $gap-primary;

        h1{
                margin: 0;
                font-size: 30px; 
            }
        
    }
}

mat-dialog-content{
    display: flex;
    flex-direction: column;
    gap: $gap-primary;

    .message-container {
        border: $border-primary;
    }
}

mat-dialog-actions {
    justify-content: flex-end;

    .btn-cancel {
        background-color: transparent;
        color: $txt-clr-primary;
        border-radius: $br-primary;
        border: $border-primary;
    }
    
    .btn-delete {
        background: $txt-clr-delete;
        color: $txt-clr-secondary;
    }
}