<mat-selection-list [multiple]="false">
  <div class="header-container">
    <div class="headline" (click)="openChannelPanel = !openChannelPanel">
      <div class="icon-hover-wrapper">
        <mat-icon>{{
          openChannelPanel ? "arrow_drop_down" : "arrow_right"
        }}</mat-icon>
      </div>
      <h3>Channels</h3>
    </div>
    <div class="icon-hover-wrapper">
      <mat-icon
        (click)="openDialogAddChannel()"
        (click)="this.toggler.closeNav()"
        >add</mat-icon
      >
    </div>
  </div>

  <div *ngIf="openChannelPanel">
    <mat-list-item *ngFor="let channel of this.channelService.channels">
      <div
        class="listItem"
        matListItemTitle
        (click)="this.toggler.closeNav()"
        routerLink="channel/{{ channel.id }}"
      >
        <div class="hashtag">#</div>
        <span
          class="channelName"
          [class.highlight]="
            channel?.lastMessage > channel.lastUserVisit?.time &&
            this.channelService.channelId !== channel.id &&
            channel.lastUserVisit?.time
          "
        >
          {{ channel.channelName }}</span
        >
      </div>
    </mat-list-item>

    <mat-list-item>
      <div class="addItem" matListItemTitle>
        <div class="hashtag">
          <mat-icon class="plusIcon">add</mat-icon>
        </div>
        <span (click)="openDialogAddChannel()" (click)="this.toggler.closeNav()"
          >Add channel</span
        >
      </div>
    </mat-list-item>
  </div>
</mat-selection-list>
<mat-selection-list [multiple]="false">
  <div class="header-container">
    <div class="headline" (click)="openChatsPanel = !openChatsPanel">
      <div class="icon-hover-wrapper">
        <mat-icon>{{
          openChatsPanel ? "arrow_drop_down" : "arrow_right"
        }}</mat-icon>
      </div>
      <h3>Chats</h3>
    </div>
    <div
      class="icon-hover-wrapper"
      routerLink="/home/create-chat"
      (click)="this.toggler.closeNav()"
    >
      <mat-icon>add</mat-icon>
    </div>
  </div>

  <div *ngIf="openChatsPanel">
    <mat-list-item
      *ngFor="let chat of chatService.chats; let i = index"
      (mouseenter)="hover[i] = true"
      (mouseleave)="hover[i] = false"
    >
      <div class="listItem w-100" matListItemTitle>
        <div
          class="content-container"
          (click)="this.toggler.closeNav()"
          routerLink="/home/chatroom/{{ chat.id }}"
        >
          <div class="img-container sidenav-shrink">
            <img
              class="profile-img"
              src="assets/img/slack-big.svg"
              alt="profile-img"
            />
            <div
              class="dot-sidenav"
              [class]="status(chat) ? 'online' : 'absent'"
            ></div>
          </div>
          <span
            *ngFor="let otherUser of chat.otherUsers; let last = last"
            [class.highlight]="
              chat?.lastMessage > chat.lastUserVisit?.time &&
              this.chatService.chatId !== chat.id &&
              chat.lastUserVisit?.time
            "
          >
            {{ otherUser.userName }}<ng-container *ngIf="!last">,</ng-container>
          </span>
        </div>
        <mat-icon class="close" *ngIf="hover[i]" (click)="deleteChat(chat)"
          >close</mat-icon
        >
      </div>
    </mat-list-item>

    <mat-list-item>
      <div
        class="addItem"
        matListItemTitle
        routerLink="/home/create-chat"
        (click)="this.toggler.closeNav()"
      >
        <div class="hashtag">
          <mat-icon class="plusIcon">add</mat-icon>
        </div>
        <span>Add chat</span>
      </div>
    </mat-list-item>
  </div>
</mat-selection-list>
