<mat-toolbar>
  <button
    (click)="this.toggler.toggleNav()"
    *ngIf="this.toggler.showToggleBtn"
    mat-icon-button
    class="toggle-btn"
    [class.rotate]="this.toggler.open"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>keyboard_double_arrow_right</mat-icon>
  </button>
  <div class="searchbar-container">
    <input
      class="searchbar"
      type="text"
      [(ngModel)]="value"
      (input)="searchInput()"
      placeholder="Search messages ..."
    />
  </div>

  <div class="settings">
    <div
      class="img-container-settings"
      (click)="openSettings()"
      matTooltip="{{ currentUser.userName }}"
      *ngIf="userService.currentUser$ | async as currentUser"
    >
      <img
        class="profile-img-settings"
        src="assets/img/slack-big.svg"
        alt="profile-img"
      />
      <div class="dot-nav online"></div>
    </div>
  </div>
</mat-toolbar>
