<div class="start-screen-section">
  <div class="introduction-container">
    <div>
      <div class="logo-box">
        <img src="assets/img/slack-big.svg" />
        <h1>Slack-clone</h1>
      </div>

      <div>
        <h2>Slack-clone brings the team together wherever you are</h2>

        <div class="btn-box">
          <button mat-raised-button (click)="openLogin()">
            Sign in to Slack-clone
          </button>
        </div>
      </div>
    </div>

    <div class="register-msg-box">
      <span>Are you new to Slack-clone?</span>
      <a (click)="openSignUp()">Create a new Account</a>
    </div>
  </div>

  <div class="world-img">
    <img src="assets/img/startscreen-background.png" />
  </div>
</div>

<!-- <a href="https://www.vecteezy.com/free-vector/globe-people">Globe People Vectors by Vecteezy</a> -->
