<div class="text-box">
  <form class="textEditorForm" [formGroup]="messageForm" (submit)="check()">
    <!-- (keydown.enter)="checkEnter($event)" -->
    <quill-editor
      class="editor"
      [modules]="modules"
      formControlName="msgEditor"
      minlength="1"
      (onEditorChanged)="checkEditor($event)"
      (onSelectionChanged)="onSelectionChanged($event)"
    ></quill-editor>
    <button class="" type="submit" mat-raised-button [disabled]="!valid">
      <mat-icon>send</mat-icon>
    </button>
  </form>
</div>
