<div class="chatroomContainer">
  <div class="heading">
    <div class="img-container-chatroom sidenav-shrink">
      <img
        class="profile-img"
        src="assets/img/slack-big.svg"
        alt="profile-img"
      />
      <div class="dot-sidenav online"></div>
    </div>
    <span
      *ngFor="let otherUser of chatService?.currentChatMembers; let last = last"
    >
      {{ otherUser.userName }}<ng-container *ngIf="!last">,</ng-container>
    </span>
  </div>

  <div class="scroll-box" #scrollBox>
    <mat-card class="first-message-container">
      <div class="img-container">
        <img
          class="profile-img"
          src="assets/img/slack-big.svg"
          alt="profile-img"
        />
      </div>

      <div class="message-content">
        <span
          *ngFor="
            let otherUser of chatService?.currentChatMembers;
            let last = last
          "
        >
          {{ otherUser.userName }}
        </span>
        <span
          >This conversation takes place only between
          <span class="highlight"
            >@<span
              *ngFor="
                let otherUser of chatService?.currentChatMembers;
                let last = last
              "
            >
              {{ otherUser.userName
              }}<ng-container *ngIf="!last">,</ng-container></span
            >
          </span>
          and you.</span
        >
      </div>
    </mat-card>
    <mat-card
      class="message-container"
      *ngFor="
        let message of chatService?.currentFilteredMessages;
        let i = index;
        let last = last
      "
      [class.editBg]="chatService.msgToEdit == message"
      [class.border-bottom]="!last"
    >
      <div class="option-box">
        <div class="option">
          <button class="btn" (click)="chatService.openThread(message)">
            <mat-icon
              matTooltip="Reply in thread"
              [matTooltipPosition]="'above'"
              [matTooltipShowDelay]="800"
            >
              comment
            </mat-icon>
          </button>
        </div>
        <div class="option">
          <button
            class="btn edit"
            [disabled]="userService.currentUser?.userName != message.author"
            (click)="
              chatService.changePath(message); chatService.showEditor = true
            "
          >
            <mat-icon
              matTooltip="Edit message"
              [matTooltipPosition]="'above'"
              [matTooltipShowDelay]="800"
            >
              edit
            </mat-icon>
          </button>
        </div>
        <div class="option">
          <button
            class="btn delete"
            [disabled]="userService.currentUser?.userName != message.author"
            (click)="deleteDialogService.openDeleteMessageDialog(message)"
          >
            <mat-icon
              matTooltip="Delete Message"
              [matTooltipPosition]="'above'"
              [matTooltipShowDelay]="800"
            >
              delete
            </mat-icon>
          </button>
        </div>
      </div>

      <div class="img-container">
        <img
          class="profile-img"
          src="assets/img/slack-big.svg"
          alt="profile-img"
        />
      </div>

      <div class="message-content">
        <div class="message-header">
          <div>
            <strong>{{ message.author | titlecase }}</strong>
          </div>
          <div>
            {{ message.timestamp }}
          </div>
        </div>
        <div class="message-wrapper" *ngIf="chatService.msgToEdit != message">
          <span [innerHTML]="message.msg | sanitizeHtml"></span>
          <div class="edited" *ngIf="message.edit">(edited)</div>
        </div>
        <div class="comments-container" *ngIf="message.comments">
          <div class="hover-container">
            <span
              class="open-thread-link"
              (click)="chatService.openThread(message)"
              >{{ message.comments }} Answer<ng-container
                *ngIf="message.comments > 1"
                >s</ng-container
              ></span
            >
            <span class="open-thread-info">Show Thread</span>
          </div>
          <mat-icon class="arrow">navigate_next</mat-icon>
        </div>

        <div class="phils-div-box-zum-stylen-des-editors">
          <app-message-box
            *ngIf="chatService.msgToEdit == message"
            [textBoxPath]="textBoxPathEdit"
          ></app-message-box>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="message-box">
    <app-message-box [textBoxPath]="textBoxPath"></app-message-box>
  </div>
  <div *ngIf="this.chatService.chatLoading" id="loading-container">
    <div class="lds-ring" id="loading-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
<app-chat-thread *ngIf="chatService.threadOpen"></app-chat-thread>
