@import 'src/modules/_vars';

:host {
    display: flex;
    height: 100%;
}


.chatroomContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: relative;

    .img-container-chatroom {
        position: relative;
        height: $size-profile-img-chatroom;
        aspect-ratio: 1;

        .profile-img {
            height: inherit;
            aspect-ratio: 1;
            object-fit: cover;
            border-radius: $br-primary;
        }

    }

    .first-message-container {
        background-color: transparent;
        color: #D1D2D3;
        display: flex !important;
        gap: 25px;
        border-bottom: 1px solid $border-clr;
        position: relative;

        .img-container {
            height: 60px;
        }

        .message-content {
            display: flex;
            flex-direction: column;
            gap: 5px;
            justify-content: center;
    
            .highlight {
                color: #1D9BD1;
                font-weight: bold;
            }        
        }
    }
}

