.form-container {
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        text-align: center;
        font-size: 30px;
    }

    .form-box {
        display: flex;
        flex-direction: column;
        

        .forgotPassword {
            color: rgba($color: #000000, $alpha: .4);

            &:hover {
                color: black;
                transition: 225ms ease-in-out;
            }
        }

        .mat-dialog-actions {
            display: flex;
            justify-content: center;

            button {
                width: 150px;
                height: 40px;
            }
        }
    }

    .option-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        span {
            padding: 0 16px;
        }
    }

    // .other-options {
    //     margin-top: 125px;
    // }
}


@media(max-width:560px) {
    .form-container {
        width: 350px;
    }
}

@media(max-width:500px) {
    .form-container {
        width: 250px;
    }
}

@media(max-width:373px) {
    .form-container {
        width: unset;
        height: 400 !important;
    }
}